/* Godsent's personal website /*
/* Made on 10/30/2022 /*
/* Last updated: 10/30/2022 /*
/*For sticky footer*/
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
footer#page-footer {
  margin-top: auto;
  background-color: #333333;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -8px;
  height: 10vw;
}
div#main-body-container {
  margin-bottom: 30vw;
}
/*/For sticky footer*/
/*Footer*/
p#footer-name {
  font-family: "Noto Sans", sans-serif;
  color: #d9d9d9;
  font-size: 1.5vw;
}
div#footer-margine-container {
  margin-left: 5vw;
  margin-top: 3vw;
}
span#footer-name {
  font-size: 2vw;
  font-family: "Noto Sans", sans-serif;
  color: #d9d9d9;
  margin-right: 5vw;
}
button.nav-buttons-footer {
  font-size: 1.9vw;
  margin-right: 2vw;
  font-family: "Noto Sans", sans-serif;
  border: none;
  color: #ccc;
  background-color: #333333;
  transition-duration: 0.4s;
}
button.nav-buttons-footer:hover {
  color: #333333;
  background-color: #d9d9d9;
}
/*footer*/
/*Navigational bar*/
nav#navigation-bar {
  background-color: #333333;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px;
}
span#website-name {
  font-size: 4vw;
  font-family: "Noto Sans", sans-serif;
  color: #d9d9d9;
  padding-right: 10vw;
  margin-left: 1vw;
}
button.nav-buttons {
  font-size: 2vw;
  margin-right: 2vw;
  font-family: "Noto Sans", sans-serif;
  border: none;
  color: #d9d9d9;
  background-color: #333333;
  transition-duration: 0.4s;
}
button.nav-buttons:hover {
  color: #333333;
  background-color: #d9d9d9;
}
/*/Navigational bar*/
/*quote-intro*/
p#quote-intro {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  color: #333;
  font-size: 3.5vw;
}
div#quotation-mark {
  margin-top: 6vw;
}
/*/quote-intro*/
/*Profile picture*/
img#profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
  height: 20vw;
  width: 20vw;
}
/*/Profile picture*/
/*Website's name*/
h1#websites-name {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  color: #333;
  font-size: 2.7vw;
}
/*/Website's name*/
/*owner's hobbies*/
h2#owner-hobbies {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  color: #333;
  font-size: 1.5vw;
  margin-top: -1vw;
}
div#hobbies-container {
  margin-top: 3vw;
}
/*/owner's hobbies*/
